# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
env/

# Ignore FastAPI dependencies
*.db
instance/

# Ignore Node.js dependencies
node_modules/
dist/
build/
.output/
npm-debug.log

# Ignore compiled and system files
.DS_Store
Thumbs.db
.vscode/
.idea/
